<div id="search-component">
  <h4>Hero Search</h4>

  <input #searchBox (keyup)="search(searchBox.value)" id="search-box" />

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
    </li>
  </ul>

</div>